@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

@font-face {
  font-family: "moonhouseregular";
  src: url("../fonts/moonhouse-webfont.woff2") format("woff2"),
    url("../fonts/moonhouse-webfont.woff") format("woff"),
    url("../fonts/moonhouse-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zorqueregular";
  src: url("../fonts/zorque-webfont.woff2") format("woff2"),
    url("../fonts/zorgue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "corbel";
  src: url("../fonts/CORBEL.TTF") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "corbel"; */
  font-family: 'Montserrat', sans-serif;
  color: #808080;
  height: 100%;
  /* background-image: url("../img/Taust.png");
  background-size: cover;
  background-attachment: fixed; */
}

/* Background */

#scene {
  margin: -5em -5em;
  position: fixed;
  overflow: hidden;
} 

#scene img {
  object-fit: cover !important;
  height: auto;
  width: 1240px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: plum;
  border-radius: 50%;
  filter: blur(5px);
  display: inline-block;
  animation: blink 3s ease-in infinite;
  overflow: hidden;
}

.dot1 {
  /* transform: translate(185px,440px); */
  margin: 440px 185px;
  animation-delay: -1s;
}

.dot2 {
  /* margin:515px 225px; */
  transform: translate(230px,515px);
  animation-delay: -50s;
}

.dot3 {
  transform: translate(385px,515px);
  animation-delay: -7s;
}

.dot4 {
  transform: translate(360px,535px);
  animation-delay: -15s;
}

.dot5 {
  transform: translate(225px,515px);
  animation-delay: -5s;
}

/* Navigation */

nav {
  text-align: right;
  /* display: flex; */
  width: 90%;
  /* height: 20%; */
  margin: 2em auto;
  margin-bottom: 10%;
}

/* nav:first-child {
  align-self: self-start;
} */

.sidenav {
  height: 100%;
  /* visibility: hidden; */
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0s;
  padding-top: 60px;
}

.sidenavopen {
  /* visibility: visible; */
  width: 30em;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 2em;
  right: 2em;
}

i.fas, i.fa {
  color: #808080;
  font-size: 2em;
}

/* i.fas:hover {
  color: 
} */

.opaque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.hide {
  display: none;
}

/* Containers */

.wrap {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: lightblue; */
}

.backanim {
  animation: changecol 20s infinite;
}

.sidewrap {
  width: 20em;
  margin: auto;
}

/* Elements */

i.fas:hover,
h1,
h2 {
  color: #681d81;
}

h1 {
  /* margin: 0; */
  margin-top: 10vh;
  margin-bottom: 0.5em;
  justify-self: center;
  text-transform: uppercase;
  font-size: 71.8pt;
  font-family: "zorqueregular";
}

h1:hover {
  /* text-shadow: 0 0 3em lightblue; */
}

h2 {
  font-family: "moonhouseregular";
  text-transform: uppercase;
  margin-bottom: 1em;
}

p {
}

/* Forms */

form {
  margin: 0;
  justify-self: center;
  /* font-family: "corbel"; */
  font-family: 'Montserrat', sans-serif;
}

form textarea,
form input {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

form input[type="text"], form input[type="password"], #code {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 0.1em solid #ccc;
  width: 14em;
  height: 2.8em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fafafa;
}

form input[type="text"]:hover, form input[type="password"]:hover, #code:hover {
  box-shadow: inset 0px 0px 1em #ccc;
}

form input[type="text"]:focus, form input[type="password"]:focus, #code:focus {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  outline: none;
  border: 0.1em solid #2d9fd9;
}

input[type="text"], select {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: #808080!important;
}

input:focus {
  color: #808080!important;
}

form input[type="submit"] {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: none;
  font-family: "moonhouseregular";
  color: white;
  text-transform: uppercase;
  /* background-color: #808080; */
  background: rgb(55, 5, 72);
  background: linear-gradient(
    0deg,
    rgba(55, 5, 72, 1) 25%,
    rgba(106, 24, 133, 1) 66%,
    rgba(155, 43, 192, 1) 100%
  );
  width: 14em;
  height: 2.8em;
  margin-top: 0.5em;
}

form label {
  font-weight: normal;
  color: #a09b9b;
}

input#create {
  /* font-family: "corbal"; */
  font-family: 'Montserrat', sans-serif;
  background: none;
  color: #808080;
  text-decoration: underline;
  text-transform: none;
}

input#create:hover {
  box-shadow: none;
}

#user {
  /* background: #ecd7f1; */
  background: rgb(234,215,239, .8);
  border-radius: 25px;
  box-shadow: 0px 0px 1em darkorchid;
  padding: 3em;
  padding-bottom: 5em;
  margin-bottom: 5em;
  max-width: 22em;
}

#user h2 {
  text-align: center;
}

#user a {
  color: darkorchid;
  display: inherit;
  text-align: center;
}

#user > form input[type="submit"],
#user > form input[type="text"],
#user > form input[type="password"] {
  width: 100%;
}

form input[type="submit"]:hover {
  box-shadow: 0px 0px 1em #ccc;
}

.redborder {
  border: 1px solid deeppink!important;
}

/* Buttons */

button {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: none;
  color: white;
  text-transform: uppercase;
  /* background-color: #808080; */
  background: rgb(55, 5, 72);
  background: linear-gradient(
    0deg,
    rgba(55, 5, 72, 1) 25%,
    rgba(106, 24, 133, 1) 66%,
    rgba(155, 43, 192, 1) 100%
  );
  width: 14em;
  height: 2.8em;
  margin: 1em;
  font-family: "moonhouseregular";
}



button.student {
  /* background: rgb(20, 108, 107);
  background: linear-gradient(
    0deg,
    rgba(20, 108, 107, 1) 24%,
    rgba(38, 222, 220, 1) 66%,
    rgba(44, 251, 249, 1) 100%
  ); */
  background: rgb(28, 152, 150);
  background: linear-gradient(
    0deg,
    rgba(28, 152, 150, 1) 24%,
    rgba(38, 222, 220, 1) 66%,
    rgba(44, 251, 249, 1) 100%
  );
}

button:hover {
  box-shadow: 0px 0px 1em #ccc;
}

.chippy {
  height: 15px;
  width: 15px;
  background-color:red;
  border-radius: 50%;
}

button.student:hover {
  animation: chippy;
}


/* Tippy themes */

.tippy-box[data-theme~='chippy'] {
  background-color: rgba(255, 99, 71, 0);
  color: #ffffff;
  height: 3.7em;
}
.tippy-box[data-theme~='chippy'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgba(255, 99, 71, 0);
}
.tippy-box[data-theme~='chippy'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgba(255, 99, 71, 0);
}
.tippy-box[data-theme~='chippy'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgba(255, 99, 71, 0);
}
.tippy-box[data-theme~='chippy'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgba(255, 99, 71, 0);
}


/* Questions */

.questions {
  width: 45em;
  /* background: #e4fbfb; */
  background: rgb(228,251,251, .8);
  padding: 2em;
  margin-bottom: 2em;
  /* border: 0.1em solid #555; */
  border-radius: 25px;
  -moz-box-shadow:    inset 0 0 10px #ccc;
   -webkit-box-shadow: inset 0 0 10px #ccc;
   box-shadow:         inset 0 0 10px #ccc;
}

.tbuttons {
  margin-bottom: 5em;
  display: flex;
  align-items: center;
}

.tbuttons a:first-of-type button{
  background: rgb(28, 152, 150);
  background: linear-gradient(
    0deg,
    rgba(28, 152, 150, 1) 24%,
    rgba(38, 222, 220, 1) 66%,
    rgba(44, 251, 249, 1) 100%
  );
}

#code {
  margin: 1em;
}

/* Results */

.resultlist {
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  background-color: rgb(255,255,255, .8);
}

.squares {
  display: flex;
  align-items: flex-end;
}

.square {
  height: 10em;
  width: 15em;
  display: flex;
}

.square span {
  width: 100%;
  text-align: center;
  align-self: flex-end;
  padding-bottom: 1em;
  color: white;
}

.square i.fa {
  color: yellow;
  height: 50%;
  padding-top: 1.5em;
}

.square.s1, .square.s2, .square.s3 {
  align-items: center;
}

.square.s1 {
  background-color: #29e2e0;
  height: 6em;
}

.square.s2 {
  background-color: #4f1661;
  flex-direction: column;
}

.firstplace {
  display: flex;
  height: 100%;
}

.square.s3 {
  background-color: #f34213;
  height: 4em;
}

.results {
  width: 45em;
  color: #a09b9b;
  margin-top: .3em;
}

.results > p {
  display: inline-block;
  text-align: right;
}

.results > hr {
  display: inline-block;
  width: 68%;
  margin-top: 0;
  margin-bottom: -0.1em;
  border: 0;
  border-top: 1px solid #a09b9b;
}

.results > p:first-of-type {
  text-align: left;
  width: 15%;
}
.results > p:last-of-type {
  text-align: right;
  width: 15%;
}



/* Media queries */

@media only screen and (max-width: 30em) {
  .sidenavopen {
    width: 100vw;
  }
  .sidewrap {
    width: 20em;
  }
  h1 {
    font-size: 38pt;
  }
}

@media (min-width: 1240px) {
  #scene img {
    width: 1600px;
  }
  .dot, .dot1, .dot2, .dot3, .dot4 {
    transform: translate(60px, 130px);
  }
}

@media print { 
  nav, img { 
     visibility: hidden; 
  } 
  
}

@keyframes changecol {
  0% {
    background-color: rgb(37, 3, 90);
  }
  25% {
    background-color: rgb(190, 6, 61);
  }
  50% {
    background-color: purple;
  }
  75% {
    background-color: rgb(4, 183, 196);
  }
  100% {
    background-color: rgb(37, 3, 90);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  40% {
    opacity: .6;
  }

  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
